In [19]:
eng = 100
isl = 100
math = 100
total = 300
marks_in_eng = 75
marks_in_isl = 69
marks_in_math = 85
percent = ( 75 + 69 + 85 )/300 * 100
print(percent)

76.33333333333333

In [10]:
percent = 76.333333;
if percent < 100 and percent > 80:
    print("Grade A+")
elif percent < 80 and percent > 70:
    print("Grade A")
else:
    print("fail")

Grade A

In [1]:
age = int(input("age "));
gender = input("gender");
name = input("Name");
if age > 18 and gender == "male":
    print("Allow");
else:
    print("Donot Allow");

age  29
gender female
Name areeba
Donot Allow

In [9]:
1 # list
2
3 name = ["ali","naeem","bilal"]
4 print(name)

SyntaxError: invalid syntax (<ipython-input-9-9cf4f116e775>, line 3)

In [5]:
arr = ["lions",12,True,4,59]
print(arr)

['lions', 12, True, 4, 59]

In [8]:
# list

name = ["ali","naeem","bilal"]
print

In [10]:
newList = name + arr;
print(newList);

['ali', 'naeem', 'bilal', 'lions', 12, True, 4, 59]

In [11]:
name = name.insert(3,"ali")
print(name)

None

In [12]:
arr.insert(2,"RAZA")
print(arr)

['lions', 12, 'RAZA', True, 4, 59]

In [13]:
arr.insert(1,"ali")
print(arr)

['lions', 'ali', 12, 'RAZA', True, 4, 59]

In [14]:
arr.insert(0,"RAZA")
print(arr)

['RAZA', 'lions', 'ali', 12, 'RAZA', True, 4, 59]

In [15]:
arr2 = arr[2:4]
print(arr2)

['ali', 12]

In [16]:
arr

['RAZA', 'lions', 'ali', 12, 'RAZA', True, 4, 59]

In [17]:
arr4 = arr[:3]
print(arr4)

['RAZA', 'lions', 'ali']

In [18]:
arr

['RAZA', 'lions', 'ali', 12, 'RAZA', True, 4, 59]

In [19]:
del arr[2]
print(arr)

['RAZA', 'lions', 12, 'RAZA', True, 4, 59]

In [20]:
del arr[3]
print(arr)

['RAZA', 'lions', 12, True, 4, 59]

In [21]:
arr.remove(12);
print(arr);

['RAZA', 'lions', True, 4, 59]